*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
.container-fluid{
    width: auto;
    height: 100vh;
    display: flex;
	flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: white;
}
/* scroll to the top */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px 10px;
	
   
}

.scroll-to-top:hover {
    background-color: #0056b3;
}
/* End of scroll to the top */
.hero{
	background-image: url(images/rental.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	color: white;
}
.hero p{
	font-size: 28px;
}

.container h3{
    color: white;
	font-size: 64px;
}
.tab-content{
	
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: -3%;
}
.tab-content form{
	width: 100%;
	display: inline;
	
}
.search-area{
	background-color: gainsboro;
}

header{
	
    background-color: green;
	font-weight: 800;
	width: 100vw;
	z-index: 1;
}
header img{
	background-color: transparent;
}
li{
    list-style: none;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
	 width: 100%;
    z-index: 1;
	background-color: green;
	font-weight: 800;
	color: green;
	
}
/*
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
	background-color: green;
	font-weight: 800;
	color: green;
}
*/
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
}
.nav-branding{
    font-size: 2rem;
    animation: colorchange 5s infinite alternate;
}
.nav-link{
    transition: 0.7s ease;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
input[type=text],select,textarea{
	width: 20%;
	padding: 2px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: vertical;	
	
}
input[type=location]{
	width: 100%;
	resize: vertical;
}
label{
	padding: 12px 12px 12px 0;
	display: inline-block;
}
input[type=submit]{
	background-color: #0D6EFD;
	color: white;
	margin: 2%;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}
input[type=submit]:hover{
	opacity: 0.8;
}
.btn{
	color: white;
	background-color: green;
}
.featured{
	margin-top: 10vh;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap; 
	grid-gap: 10px;	
	justify-content: space-around;
	align-items: baseline;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: green;
  margin-left: auto;
  margin-right: auto;
}
.card{
	height: auto;
	width: auto;
	padding: 0.5em;
	text-align: center;
	border: none !important;
	/* Apply an inset shadow */
    box-shadow:  2px -1px 9px 1px gainsboro;

}
.item .btn{
	color: #F8F8F8;
	float: right;
	font-size: 15px;
	padding: 0px 10px;
}
.item .btn:hover{
	background-color: red;
}
.featured img{
	border-radius: 15px;
}
.featured img:hover{
	transform: scale(1.05);
}
#reviews-container{
    display: flex;
    position: relative;   
    width:80vw;
    height:270px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow to the images */

    
}
.review{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text content */
}
/* Style the images within the reviews */
.review img {  
    position: absolute; /* Position the image absolutely within the review container */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    border-radius: 50%; /* Add rounded corners to the images */    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    top: 90%; /* Position the image 50% from the top of the review container */
    left: 50%; /* Position the image 50% from the left of the review container */
    width: 120px;
    height: 120px;
}

.services{
    margin-top: 50px;
}
/* styles.css */
.slider-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.prev-btn {
    float: left;
}

.next-btn {
    float: right;
}

.map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	align-content: center;
	position: relative;
	margin-top: 4vh;
	padding: 3em;
	background-color: green;
	height: auto;
	color: white;
	
}
.footer a{
	color: white;
}
.copyright{
    color: white;
	height: 10vh;
	background-color: green;
}
.copyright a{
	color: red;
	text-decoration: none;
	font-weight: 600;
}
@keyframes colorchan{
    0%{
        color: white;
    }
    10%{
        color: gold;
    }
     20%{
        color: blue;
    }
        40%{
        color: green;
    }
        60%{
        color: yellow;
    }
        80%{
        color: orange;
    }
        100%{
        color: red;
    }
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
     .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        column-gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 90%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left:0;
    }
    .nav-branding{
        font-size: 1.2rem;
    }
	.hero{
		height: 90vh;
		 
	}
	.hero p{
	font-size: 22px;
}
.container h3{
    color: white;
	font-size: 48px;
}
	input[type=text],select,textarea{
	width: 30%;
	padding: 2px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: vertical;	
	
}
}
@media(max-width:576px){
	  .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
     .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        column-gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 60%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left:0;
    }
    .nav-branding{
        font-size: 1.2rem;
    }
	.hero{
		height: 80vh;
	}
	.hero p{
	font-size: 14px;
		padding-top: 20px;
}
	.container h3{
    color: white;
	font-size: 28px;
}
.map iframe{
    background-color: chartreuse;
    margin-left: 5vw;
    padding: 10px;
    width: 200px;
    height:180px;
}
	.footer{
	display: flex;
	flex-direction: column;
   align-items: center;
	
	

	
}
}